<h4>Post a new comment</h4>
<p>
  {{view Ember.TextArea valueBinding="content" placeholder="Your comment here."
  id="new-comment" action="createNew" rows=4}}
</p>

<button {{action createNew}} class='btn btn-primary'>Create comment</button>