<div class="span8 full-recipe">
  <div class="recipe-head">
    <img src="/images/recipe.jpg">
    <div class="title-info">
      <h2>{{ title }}</h2>
      <p class="description">
        {{ description }}
      </p>
    </div>
  </div>
  <div class="recipe-comments row">
    <div class="span8">
      <h3>Comments</h3>
      <ol>
        {{#each comments}}
          <li>{{body}}</li>
        {{/each}}
      </ol>
      {{view App.CommentFormView}}
    </div>
  </div>
</div>
